<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="./header.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="inner">
          <div class="logo">
            <a href="#">
              <img src="./images/logo.png" alt="logo" />
            </a>
          </div>
          <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Offer</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">News</a></li>
          </ul>
          <div class="buttons">
            <a href="#">login</a>
            <a href="#">signup</a>
          </div>
        </div>
      </div>

      <div class="section">section</div>
      <div class="section">section2</div>
    </div>
  </body>
</html>
