* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

img {
  display: block;
}

.container {
}

.header {
  background-color: #111;
}

.header .inner {
  width: 960px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .inner .nav {
  display: flex;
  list-style: none;
}

.header .inner .nav li a {
  padding: 10px 16px;
}

/* section area */
.section {
  width: 960px;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section > div {
  width: 460px;
}

.section .photos {
  display: flex;
  justify-content: space-between;
}

.section .photos .photo-01,
.section .photos .photo-02 {
  width: 220px;
}

.section .photos .photo-01 img:first-child {
  margin-bottom: 20px;
}

.gray-box {
  background-color: #e7e7e7;
  height: 300px;
}
